@import "tailwindcss";
:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  ul {
    @apply list-disc list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }
}
input[type="file"] {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}